<p style="color: green"><%= notice %></p>

<h1 class="mb-4">Your posts</h1>

<div id="posts">
  <% current_user.posts.each do |post| %>
    <div class="post container row border rounded-4 p-4 mb-4" style="width: 720px">
      <%= render post %>
      <%= link_to "Show this post", post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>